{% extends 'base.html' %}
{% load static %}
{% block title %}Get Admission - Blogs{% endblock title %}

{% block content %}
<!-- Inner Banner -->
<div class="inner-banner inner-bg5">
    <div class="container">
        <div class="inner-banner-title text-center">
            <h3>Latest Blogs</h3>
            <p>Welcome to our blog, your ultimate resource for valuable insights, guidance, and inspiration on all things related to college life.</p>
        </div>

        <div class="banner-list">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <ul class="list">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>
                        <li class="active">Blog</li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-5">
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/Rudraconsultancy1/" target="_blank"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/getadmission_/?hl=en" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCDD4UtZCvFrBe3kzMS_N5lw" target="_blank"><i class='bx bxl-youtube'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Area -->
<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Blog</span>
            <h2>Latest Blog <b>Post</b></h2>
        </div>
        <div class="row pt-45">
            {% for blog in page_obj.object_list %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="{{blog.image.url}}" alt="Images">
                    </a>
                    <div class="content">
                        <span>April 19, 2020 / <a href="#">{{blog.category}}</a></span>
                        <h3>
                            <a href="{% url 'blog-detail' pk=blog.slug %}">{{blog.title}}</a>
                        </h3>
                        <a href="{% url 'blog-detail' pk=blog.slug %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    {%if page_obj.has_previous %} 
                    <a href="?page={{page_obj.previous_page_number}}" class="prev page-numbers">
                        <i class="bx bx-chevron-left"></i>
                    </a>
                    {% endif %}
                    <span class="page-numbers current" aria-current="page">{{page_obj.number}}</span>
                    {%if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="next page-numbers">
                        <i class="bx bx-chevron-right"></i>
                    </a> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->
{% endblock content %}