{% load static %}

<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
        <!-- Owl Carousel CSS --> 
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css'%}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css'%}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css'%}">
        <!-- Magnific-Popup CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css'%}">
        <!-- Jquery Ui CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css'%}">
        <!-- Nice-Select CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css'%}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">

        <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-pro-5.15.4/css/all.css'%}">

        <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-pro-5.15.4/css/all.min.css'%}">
        <!-- FONTAWSOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block style %} {% endblock style %}

        <title>{% block title %}Get Admission{% endblock title %}</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}">
    </head>
    <body>
        <!-- Pre Loader -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
        <!-- End Pre Loader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="/" class="logo">
                    <img src="{% static 'assets/img/logo/logo-mobile.png'%}" alt="Logo" class="p-0">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="nav-two main-nav">
                <div class="container-fluid">
                    <nav class="container-max navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="/">
                            <img src="{% static 'assets/img/logo/logo.png'%}" alt="Logo" class="p-0">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="/" class="nav-link active">
                                        Home 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/about" class="nav-link">
                                        About
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        College
                                        <i class='bx bx-plus'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/college/gniot" class="nav-link">
                                                Greater Noida Institute of Technology
                                            </a>
                                        <li class="nav-item">
                                            <a href="/college" class="nav-link">
                                                View All
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/blog" class="nav-link">
                                        Blog 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/contact" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="side-nav-inner">
                            <div class="side-nav justify-content-center  align-items-center">
                                <div class="side-item">
                                    <div class="cart-btn">
                                        <a href="cart.html">
                                            <i class="flaticon-shopping-bags"></i>
                                            <span>0</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="side-item">
                                    <div class="search-box">
                                        <i class="flaticon-loupe"></i>
                                    </div>
                                </div>

                                <div class="side-item">
                                    <div class="user-btn">
                                        <a href="#">
                                            <i class="flaticon-contact"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="side-item">
                                    <div class="nav-add-btn">
                                        <a href="#" class="default-btn border-radius">
                                            Add Listing 
                                            <i class='bx bx-plus'></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-layer"></div>
                    <div class="search-layer"></div>
                    <div class="search-layer"></div>
                    
                    <div class="search-close">
                        <span class="search-close-line"></span>
                        <span class="search-close-line"></span>
                    </div>

                    <div class="search-form">
                        <form>
                            <input type="text" class="input-search" placeholder="Search here...">
                            <button type="submit"><i class="flaticon-loupe"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->


        {% block content %}
        {% endblock content %}

        <!-- Footer Area -->
        <footer class="footer-area footer-bg2">
            <div class="footer-middle pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget">
                                <a href="index.htm" class="logo">
                                    <img src="{% static 'assets/img/logo/logo-croped.png'%}" alt="Logo">
                                </a>
                                
                                <ul class="footer-contact-list">
                                    <li>
                                        Sector 18, Noida, Uttarpradesh
                                    </li>
                                    <li>
                                        <span>Phone :</span> <a href="tel:089293 94101"> 089293 94101</a>
                                    </li> 
                                    <li>
                                        <span>Email :</span> <a href="mailto:info@downtown.com">info@getadmission.org</a>
                                    </li> 
                                </ul>

                                <ul class="social-link">
                                    <li>
                                        <a href="https://www.facebook.com/Rudraconsultancy1/" target="_blank"><i class='bx bxl-facebook'></i></a>
                                    </li> 
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                                    </li> 
                                    <li>
                                        <a href="https://www.instagram.com/getadmission_/?hl=en" target="_blank"><i class='bx bxl-instagram'></i></a>
                                    </li> 
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                                    </li> 
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCDD4UtZCvFrBe3kzMS_N5lw" target="_blank"><i class='bx bxl-youtube'></i></a>
                                    </li> 
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="footer-widget pl-1">
                                <h3>SUPPORT</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="#">My Account</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">Cart</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ's</a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="#">Help & Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget pl-5">
                                <h3>QUICK LINKS</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="about.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="listing.html">Listing</a>
                                    </li>
                                    <li>
                                        <a href="#">How It Works</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ's</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">Register</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h3>NEWSLETTER</h3>
                                <p>To get the latest news and latest updates from us</p>
                                <div class="footer-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email*">
                                                </div>
                                            </div>
    
                                            <div class="col-lg-12 col-md-12">
                                                <button type="submit" class="default-btn">
                                                    SUBSCRIBE now
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->

        <!-- Copy Right -->
        <div class="copy-right-area copy-right-area-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="copy-right-list">
                            <ul>
                                <li>
                                    <a href="terms-condition.html" target="_blank">
                                        Terms of Use
                                    </a>
                                </li> 
                                <li>
                                    <a href="privacy-policy.html" target="_blank">
                                        Privacy Policy
                                    </a>
                                </li> 
                                <li>
                                    <a href="blog.html" target="_blank">
                                        Blog
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8">
                        <div class="copy-right-text text-right">
                            <p>
                                Copyright ©{% now 'Y' %} Get Admission. All Rights Reserved by 
                                <a href="" target="_blank">Shailesh Rawat</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copy Right End -->


        <!-- Jquery Min JS -->
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <!-- Bootstrap Bundle JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.js'%}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
        <!-- Magnific Popup Min JS -->
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'assets/js/wow.min.js'%}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'assets/js/meanmenu.js'%}"></script>
        <!-- Jquery Ui JS -->
        <script src="{% static 'assets/js/jquery-ui.js'%}"></script>
        <!-- Nice Select JS -->
        <script src="{% static 'assets/js/jquery.nice-select.min.js'%}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js'%}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'assets/js/form-validator.min.js'%}"></script>
        <!-- Contact Form JS -->
        <script src="{% static 'assets/js/contact-form-script.js'%}"></script>
        <!-- Custom JS -->
        <script src="{% static 'assets/js/custom.js'%}"></script>

        <script src="{% static 'assets/fonts/font-awesome-pro-5.15.4/js/pro.js'%}"></script>
        
        <script src="{% static 'assets/fonts/font-awesome-pro-5.15.4/js/pro.min.js'%}"></script>

        {% block script %} {% endblock script %}
    </body>
</html>